/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ##
                                                  Queen Info
## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.queen-info{
//    float:              right;
    display:            inline-block;
}

.queen-info > div{
    float:              left;
    width:              150px;
    border:             solid 1px;
    border-radius:      10px;
    margin-right:       3px;
}

.queen-info .name{
    text-align:         center;
    font-weight:        bold;
}

.queen-info .name b{
    font-size:          larger;
}

.queen-info dt{
    float:              left;
    text-decoration:    underline;
    margin-left:        5px;
}

.queen-info dd{
    text-align:         center;
}

/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ##
                                                  Queen Info - Active
## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.queen-info .button{
    text-align:         center;
    color:              rgb(247, 237, 237);
    background-color:   #7E4D3F;
    border:             solid 2px #7E4D3F;
    border-radius:      7px;
}

.queen-info .msg-sel{
    margin-bottom:      0px;
    font-size:          large;
    vertical-align:     top;
}

.queen-info .msg-sel.l{
    float:              left;
    margin-left:        3px;

}

.queen-info .msg-sel.r{
    float:              right;
    margin-right:       3px;
}

.queen-info .msg-sel.l.selected {
    color:              blue;
}

.queen-info .msg-sel.r.selected{
    color:              green;
}
